/* Estilos generales */

.container {
    max-width: 400px;
    margin: 50px auto;
}

/* Estilos del formulario */
.form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px;
}

.form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form input[type="submit"] {
    background-color: #24292e;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.form input[type="submit"]:hover {
    background-color: #3a3f44;
    /* Un tono ligeramente más claro o diferente */
    transform: scale(1.05);
    /* Hace el botón un poco más grande */
}

.SignupPrompt p {
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}

.SignupPrompt a {
    color: #22215b;
    text-decoration: none;
    transition: box-shadow 0.25s;
}