* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    /* Aseg칰rate de que el margin del body sea 0 */
    margin: 0;
    /* Ajusta el padding-bottom para igualar la altura del footer */
    padding-bottom: 80px;
    min-height: 100vh;
    position: relative;
}

.Header {
    background-color: #24292e;
    color: #ffffff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: clamp(1.3rem, 2.5vw, 2rem);
}

.Header-title span {
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: normal;
}

.Header-social ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1rem;
}

.Header-social a {
    text-decoration: none;
    font-weight: 300;
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    color: white;
}

.Header-logo {
    display: flex;
    align-items: center;
}

.Header-logo img {
    width: 7rem;
    cursor: pointer;
}

.Header-social i {
    width: 20px;
}

/* Estilos para el contenido principal */
.content {
    /* Ajusta el tama침o del contenido principal para dejar espacio para el footer */
    min-height: calc(100% - 80px);
}

/* Estilo para el bot칩n de hamburguesa */
.hamburger {
    display: none; /* Oculta por defecto */
    font-size: 2.5rem;
    background: none;
    border: none;
    color: #191a22; /* Cambia el color seg칰n tu dise침o */
    cursor: pointer;
}

.Nav-container {
    border-bottom: 1px solid rgb(167, 3, 153);
    background-color: #fafbfc;
    color: #191a22;
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 60px;
}

.Nav-container ul {
    display: flex;
    width: 350px;
}

.Nav-container ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 60px;
    z-index: 2;
}

.Nav-container ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;

}

.Nav-container ul li a span {
    font-size: 1.4rem;
    font-weight: 300;
    position: relative;
    display: block;
    width: 55px;
    height: 55px;
    text-align: center;
    line-height: 65px;
    border-radius: 50%;
}

.Nav-container ul li.active a span {
    background: #24292e;
    color: #fff;
    transform: translateY(-27px);
}

.Nav-container ul li a span::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #24292e;
    filter: blur(5px);
    opacity: 0;
}

.Nav-container ul li.active a span::before {
    opacity: 0.5;
}

[aria-current] {
    position: relative;
    display: inline-block;
}

[aria-current]::after {
    position: absolute;
    content: "";
    width: calc(100% - 1em);
    height: 3px;
    background-color: #564761;
    display: block;
    bottom: -1px;
}

.Nav-container a {
    text-decoration: none;
    padding: 1em 1em 1em 0;
    display: block;
    font-size: 1.4rem;
    font-weight: 300;
    transition: all 0.3s ease-in-out 0s;
    color: rgba(25, 26, 34, 0.7);
}

.Nav-container a:hover {
    color: rgba(25, 26, 34, 1);
}

.Nav-container a:visited {
    color: rgb(167, 3, 153);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(#792CE2, 1);
    }

    100% {
        box-shadow: 0 0 0 40px rgba(#792CE2, 0);
    }
}

.pulser_effect {
    animation: pulse infinite 1s;
}

.Footer {
    background: #24292e;
    color: white;
    padding-top: 1.5rem;
    margin-top: 0.2rem;
    bottom: 0;
    /* Ajusta el ancho del footer al 100% para ocupar todo el ancho de la p치gina */
    width: 100%;
    /* Establece aqu칤 la altura que desees para el footer */
    height: 80px;
    position: absolute;
}

.Footer-content {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    font-family: 'Great Vibes', cursive;
}

.Footer-copy::after {
    content: " 游뻟릖  ";
}

.Footer-go {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

@media (max-width: 768px) {
    .Header {
        flex-direction: column;
        padding: 0.5rem;
    }

    .Header-logo img {
        width: 5rem; /* Reduce el tama침o del logo */
    }

    .Header-title {
        margin-top: 1rem;
        font-size: 1.2rem; /* Ajusta el tama침o del t칤tulo y la descripci칩n */
    }

    .Header-title span {
        font-size: 1rem;
    }

    .hamburger {
        display: block;
    }

    .Nav-container ul {
        display: none; /* Oculta el men칰 por defecto en pantallas peque침as */
        flex-direction: column;
        width: 100%;
    }

    /* Muestra el men칰 cuando .Nav-container tiene la clase .is-active */
    .Nav-container.is-active ul {
        display: flex;
    }

    .Nav-container ul li {
        width: 100%;
    }

    .Nav-container ul li a {
        padding: 10px; /* Ajusta el padding para mejorar la tocabilidad */
    }

    .Footer {
        padding-top: 1rem;
        padding-bottom: 1rem; /* Ajusta el padding para reducir el espacio */
        font-size: 1.2rem; /* Reduce el tama침o de la fuente en el footer */
    }
    
    /* Ajusta el content para mejorar el espacio entre el contenido y el footer */
    .content {
        padding-bottom: 10rem; /* Aumenta el padding en la parte inferior */
    }
}
