{{define "title"}}Dashboard{{end}}

{{ define "content" }}

<head>
    <link rel="stylesheet" type="text/css" href="/static/css/dashboards.css">
</head>

<div class="container-dashboard">
    <div id="username" data-username="{{.Username}}">
        <h1>Welcome {{.Username}}</h1>
    </div>

    <!-- Formulario para agregar un nuevo post -->
    <div class="new-post-form">
        <h2>Agregar un nuevo post</h2>
        <form id="newPostForm" action="/api/create-post" method="POST">
            <input type="hidden" name="authorID" value="{{.ID}}">
            <input type="text" name="title" placeholder="Título del post" required>
            <input type="text" name="description" placeholder="Description del Post" required>
            <textarea name="content" id="editor" placeholder="Contenido del post" required></textarea>

            <div class="categoria">
                <select name="categoria" required>
                    <option value="Tech">Tech</option>
                    <option value="Historias">Historias</option>
                </select>
            </div>
            <button class="button" type="submit">Agregar Post</button>
        </form>
    </div>

    <h3>Buscar Post</h3>
    <!-- Después del formulario de agregar nuevo post -->
    <div class="search-posts-form">
        <input type="text" id="searchQuery" placeholder="Buscar posts...">
        <button class="button" type="button" id="searchButton">Buscar</button>
    </div>

    <div class="container-button-logout">
        <form action="/logout" method="POST">
            <button class="button" id="logoutButton" type="submit">Logout</button>
        </form>
    </div>



    <script defer src="/static/js/localStorage.js"></script>
    <script defer src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script defer src="/static/js/createPost.js"></script>
    <script defer src="/static/js/searchPost.js"></script>
    <script defer src="https://cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>

</div>

{{ end }}