{{define "title"}}Dashboard{{end}}

{{ define "content" }}

<head>
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard.css">
</head>

<div class="container-dashboard">
    <div id="username" data-username="{{.Username}}" style="display:none;"></div>

    <h1>Dashboard</h1>

    <!-- Formulario para agregar un nuevo post -->
    <div class="new-post-form">
        <h2>Agregar nuevo post</h2>
        <form id="newPostForm" action="/api/create-post" method="POST">
            <input type="hidden" name="authorID" value="{{.ID}}">
            <input type="text" name="title" placeholder="Título del post" required>
            <input type="text" name="description" placeholder="Description del Post" required>
            <textarea name="content" placeholder="Contenido del post" required></textarea>
            <div class="categoria">
                <select name="categoria" required>
                    <option value="tech">Tech</option>
                    <option value="historias">Historias</option>
                </select>
            </div>
            <button type="submit">Agregar Post</button>
        </form>
    </div>

    <!-- Sección para mostrar los posts existentes -->
    <div class="posts-list">
        <h2>Posts Existentes</h2>
        <!-- Aquí se iterarán los posts existentes -->
        <!-- Ejemplo de un post (en la práctica, se generará dinámicamente) -->
        <div class="post">
            <h3>Título del Post</h3>
            <p class="post-content">Resumen del contenido...</p>
            <p class="post-info">Publicado por Usuario el Fecha</p>
        </div>
        <!-- Repetir para cada post -->
    </div>

    <form action="/logout" method="POST">
        <button id="logoutButton" type="submit">Logout</button>
    </form>

    <script defer src="/static/js/localStorages.js"></script>
    <script src="/static/js/createPost.js"></script>
    <script defer src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</div>

{{ end }}