{{define "title"}}{{.Post.Title}}{{end}}

{{define "content"}}

<head>
    <link rel="stylesheet" type="text/css" href="/static/css/post.css">
</head>

<div class="container-post">
    <article>
        <h1>{{.Post.Title}}</h1>
        <div>
            <span class="post-created-at" data-created-at="{{.Post.CreatedAt}}"></span>
            <span>{{.Post.Categoria}}</span>
        </div>
        <div class="content">{{.Post.Content}}</div>

    </article>
</div>

<script src="/static/js/createdAt.js"></script>

{{end}}