<!-- templates/home.html -->
{{ define "title" }}Visitas{{ end }}

{{ define "content" }}

<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>


<h2>Mapa de Visitas</h2>
<div id="map" style="height: 500px;"></div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
    var map = L.map('map').setView([10, -75], 3); // Vista inicial

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; OpenStreetMap contributors'
    }).addTo(map);

    fetch('/api/visits/location')
        .then(response => response.json())
        .then(data => {
            data.forEach(visit => {
                if (visit.latitude && visit.longitude) {
                    L.marker([visit.latitude, visit.longitude])
                        .addTo(map)
                        .bindPopup(`${visit.city}, ${visit.country}<br>${visit.page}`);
                }
            });
        });
</script>
{{ end }}